1. Import Library yang diperlukan

In [9]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

2. Tampilkan seluruh nilai dari dataset

In [2]:
data = pd.read_csv("Iklan_sosmed.csv")

print(data)

       UserID    Kelamin  Usia  EstimasiGaji  Beli
0    15624510       Laki    19         19000     0
1    15810944       Laki    35         20000     0
2    15668575  Perempuan    26         43000     0
3    15603246  Perempuan    27         57000     0
4    15804002       Laki    19         76000     0
..        ...        ...   ...           ...   ...
395  15691863  Perempuan    46         41000     1
396  15706071       Laki    51         23000     1
397  15654296  Perempuan    50         20000     1
398  15755018       Laki    36         33000     0
399  15594041  Perempuan    49         36000     1

[400 rows x 5 columns]

3. Lakukan EDA secukupnya

In [4]:
print(data.head())
print(data.tail())
print(data.info())
print(data.isnull().sum())
print(data.describe())

     UserID    Kelamin  Usia  EstimasiGaji  Beli
0  15624510       Laki    19         19000     0
1  15810944       Laki    35         20000     0
2  15668575  Perempuan    26         43000     0
3  15603246  Perempuan    27         57000     0
4  15804002       Laki    19         76000     0
       UserID    Kelamin  Usia  EstimasiGaji  Beli
395  15691863  Perempuan    46         41000     1
396  15706071       Laki    51         23000     1
397  15654296  Perempuan    50         20000     1
398  15755018       Laki    36         33000     0
399  15594041  Perempuan    49         36000     1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   UserID        400 non-null    int64
 1   Kelamin       400 non-null    object
 2   Usia          400 non-null    int64
 3   EstimasiGaji  400 non-null    int64
 4   Beli          400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB
None
UserID          0
Kelamin         0
Usia            0
EstimasiGaji    0
Beli            0
dtype: int64
             UserID        Usia   EstimasiGaji        Beli
count  4.000000e+02  400.000000     400.000000  400.000000
mean   1.569154e+07   37.655000   69742.500000    0.357500
std    7.165832e+04   10.482877   34096.960282    0.479864
min    1.556669e+07   18.000000   15000.000000    0.000000
25%    1.562676e+07   29.750000   43000.000000    0.000000
50%    1.569434e+07   37.000000   70000.000000    0.000000
75%    1.575036e+07   46.000000   88000.000000    1.000000
max    1.581524e+07   60.000000  150000.000000    1.000000

4. Cek apakah ada nilai yang hilang pada dataset dan isi nilai yang hilang pada 'EstimasiGaji' dengan median dari kolom tersebut.

In [7]:
print(data['EstimasiGaji'].isnull().sum())

data['EstimasiGaji'].fillna(data['EstimasiGaji'].median(), inplace=True)

print(data['EstimasiGaji'].isnull().sum())

0
0

5. Lakukan encoding pada kolom 'Kelamin'

In [10]:
le = LabelEncoder()
data['Kelamin'] = le.fit_transform(data['Kelamin'])

print(data)

       UserID  Kelamin  Usia  EstimasiGaji  Beli
0    15624510        0    19         19000     0
1    15810944        0    35         20000     0
2    15668575        1    26         43000     0
3    15603246        1    27         57000     0
4    15804002        0    19         76000     0
..        ...      ...   ...           ...   ...
395  15691863        1    46         41000     1
396  15706071        0    51         23000     1
397  15654296        1    50         20000     1
398  15755018        0    36         33000     0
399  15594041        1    49         36000     1

[400 rows x 5 columns]

6. Standarisasi kolom 'Usia' dan 'EstimasiGaji' menggunakan StandardScaler.

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

data = pd.read_csv("Iklan_sosmed.csv")

scaler = StandardScaler()
data[['Usia', 'EstimasiGaji']] = scaler.fit_transform(data[['Usia', 'EstimasiGaji']])

print(data)

       UserID    Kelamin      Usia  EstimasiGaji  Beli
0    15624510       Laki -1.781797     -1.490046     0
1    15810944       Laki -0.253587     -1.460681     0
2    15668575  Perempuan -1.113206     -0.785290     0
3    15603246  Perempuan -1.017692     -0.374182     0
4    15804002       Laki -1.781797      0.183751     0
..        ...        ...       ...           ...   ...
395  15691863  Perempuan  0.797057     -0.844019     1
396  15706071       Laki  1.274623     -1.372587     1
397  15654296  Perempuan  1.179110     -1.460681     1
398  15755018       Laki -0.158074     -1.078938     0
399  15594041  Perempuan  1.083596     -0.990844     1

[400 rows x 5 columns]

7. Urutkan dataset berdasarkan 'EstimasiGaji' dari yang terendah ke tertinggi.

In [2]:
sorted_data = data.sort_values(by='EstimasiGaji')

print(sorted_data)

       UserID    Kelamin      Usia  EstimasiGaji  Beli
92   15809823       Laki -1.113206     -1.607506     0
43   15792008       Laki -0.731153     -1.607506     0
155  15610140  Perempuan -0.635640     -1.607506     0
150  15679651  Perempuan -1.113206     -1.607506     0
32   15573452  Perempuan -1.590771     -1.578141     0
..        ...        ...       ...           ...   ...
168  15789815       Laki -0.826666      2.298020     1
103  15675949  Perempuan -0.444614      2.327385     1
240  15701537       Laki  0.415005      2.327385     1
211  15735878       Laki  1.370136      2.356750     1
7    15694829  Perempuan -0.540127      2.356750     1

[400 rows x 5 columns]

8. Simpan dataset yang telah dibersihkan dan diproses ke file baru bernama 'Iklan_sosmed_clean.csv'

In [3]:
data.to_csv("Iklan_sosmed_clean.csv", index=False)